.driver {
    position: absolute;
    z-index: 1;
}

.boatshape {
    position: absolute;
    top: -12px;
    left: -10px;
    width: 18px;
    height: 30px;
    border-radius: 2px;
    background-color: rgb(255, 233, 32);
    z-index: 1;
}

.boattop {
    position: absolute;
    top: 15px;
    left: 3.5px;
    width: 10px;
    height: 12px;
    border-radius: 2px;
    background-color: rgb(192, 18, 250);
}

.lefthead {
    position: absolute;
    top: -15px;
    left: -4px;
    width: 5px;
    height: 5px;
    border-radius: 2px;
    background-color: rgb(19, 255, 58);
}

.righthead {
    position: absolute;
    top: 0px;
    left: 13px;
    width: 5px;
    height: 5px;
    border-radius: 2px;
    background-color: rgb(19, 255, 58);
}



